body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(234, 234, 234);;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img{
  border-radius: 20px 20px 0px 0;
}

h1{
  text-align: center;
}

/*Custom Styles*/
.wrapper {padding: 10px;}
.div-wrapper {padding: 5px 0;}
.div-wrapper label {width: 60px;display: inline-block;}
.div-wrapper > input, button {padding: 8px;}
.div-wrapper.qty > input {width: 30px;text-align: center;}
.div-wrapper button {width: 35px;}
.item-list {padding: 10px;list-style: none;}
.item-list .item {
  padding: 15px 10px;margin-bottom: 15px;border-radius: 2px;
  border-bottom: 1px solid #eee;box-shadow: 0 2px 4px 2px #ccc;
  cursor: pointer;
}

.mycard{
  margin: 0px 50px;
  border-radius: 22px;
  background-color: white;
  height: 530px;

}

.myCardDetails{
  display: inline-flex;
}
.but-update{
  width:80%;
  background-color:rgb(41, 115, 226);
  color:white;
  border:0px;
  margin-bottom: 10px;
}
.but-suc{
  width:80%;
  background-color:rgb(24, 214, 81);
  color:white;
  border:0px;
  margin-bottom: 10px;
}

.navbar-space{
  list-style: none;
    width: 100%;
    display: inline-flex;
    background-color: blue;
    color: #f0eade;
}

.ReactModal__Content--after-open{
  border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    width: 527px;
    height: 213px;
    margin: auto auto;
    margin-top: 274px;
}

.modal-div{
  margin: 0 auto;
    margin-top: 44px;
    text-align: center;
}
.modal-div > input{
  width: 220px;
  height: 31px;
}
.but{
width:242px
}

.mod{
    background: linear-gradient(to right, #6600ff 0%, #cc33ff 100%);
    opacity: 0.7;
    outline-color: #cc33ff ;
    width: 50px;
    cursor: pointer;
    color: #ffffff;
}
.close{
  color: rgb(102, 0, 255);
  font-size: 20px;
  position: absolute;
  right: 13px;
  top: 16px;
  cursor: pointer;
}

